## Maven build outputs
**/target/
**/dependency-reduced-pom.xml
**/*.log

## IDEs and editors
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
.vscode/

.env
**/.env
application-dev.yml
**/application-dev.yml

## OS files
.DS_Store
*.md
*.db
