## Maven build outputs
**/target/
**/dependency-reduced-pom.xml
**/*.log

## IDEs and editors
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
.vscode/

.env
**/.env

/docs
/results
## OS files
.DS_Store
*.db
containerapp.yaml
