# Azure Cosmos DB Configuration
COSMOS_ENDPOINT=ENDPOINT:PORT
COSMOS_KEY=KEY
COSMOS_DATABASE=DATABASE_NAME

# Redis Configuration
REDIS_HOST=XXX.eastus2.redis.azure.net
REDIS_PORT=PORT
REDIS_PASSWORD=PASSWORD

CONTAINER_APP_REPLICA_NAME=REPLICA_NAME
CHAT_GRPC_PORT=PORT